CODEOWNERS filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
RELEASE.md filter=lfs diff=lfs merge=lfs -text
third_party filter=lfs diff=lfs merge=lfs -text
ACKNOWLEDGMENTS filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
BUILD filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
SECURITY.md filter=lfs diff=lfs merge=lfs -text
tensorflow filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
arm_compiler.BUILD filter=lfs diff=lfs merge=lfs -text
CODE_OF_CONDUCT.md filter=lfs diff=lfs merge=lfs -text
configure.py filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
ISSUES.md filter=lfs diff=lfs merge=lfs -text
ISSUE_TEMPLATE.md filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
models.BUILD filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
configure.cmd filter=lfs diff=lfs merge=lfs -text
WORKSPACE filter=lfs diff=lfs merge=lfs -text
